.d-none {
    display: none;
}

span.details {
    float: inline-end;
}

select#pageSize {
    max-width: 100px;
    font-size: small;
    margin: 0;
}

section#edit-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    background-color: var(--pico-background-color);
    margin: 0;
    border-top: 1px var(--pico-primary-border) solid;
}

#edit-bar button {
    margin: 1em 1em;
}