{{define "footer"}}
    <div class="d-flex justify-content-center" id="loading-spinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
<span class="float-end">
    Connected to <code>{{$.dsn}}</code>
    {{ if eq .page "jobs" }}, loading <select id="pageSize" class="form-select-sm" onchange="setPageSize(); loadJobs();"><option>25</option><option>50</option></select> items {{ end }}
</span>
</div>
    <div id="modal-list"></div>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script>
    let abortController = new AbortController();
    let offset = 0;
    let loading = false;
    let rowHtml = "";
    let modalList = "";
    if (localStorage.getItem("pageSize") === null) {
        setPageSize();
    }
    let classes = {};
    let exceptions = {};

    function loadData(page) {
        switch (page) {
            case 'queues':
                loadQueues();
                break;
            case 'workers':
                loadWorkers()
                break;
            case 'jobs':
                loadJobs(0)
                break;
            default:
                console.error(`No data to load for ${page}`)
                break;
        }
    }

    function loadJobs(start) {
        if (loading) {abortController.abort("Reloading data");}
        offset = start
        loading = true;
        if (offset < 1) {
            modalList = ''
            rowHtml = ''
        }
        document.getElementById("loading-spinner").classList.remove("d-none");
        const filter = generateFilter(offset, offset+pageSize());
        getApi(`queues/${filter.queue}/jobs`, filter).then(function (json) {
            loading = false;
            if (json === null) {
                console.error("No job data!")
                return
            }
            if (filter.queue === 'failed') {
                document.getElementById("exceptions-wrapper").classList.remove("d-none");
            } else {
                document.getElementById("exceptions-wrapper").classList.add("d-none");
            }
            for (let index in json["classes"]) {
                if (classes.hasOwnProperty(index) === false) { classes[index] = 0; }
                classes[index] += json["classes"][index]
            }
            for (let index in json["exceptions"]) {
                if (exceptions.hasOwnProperty(index) === false) { exceptions[index] = 0; }
                exceptions[index] += json["exceptions"][index]
            }

            document.getElementById("classes").innerHTML = getJobClassSelect(classes, filter);
            document.getElementById("exceptions").innerHTML = getJobExceptionSelect(exceptions, filter);

            json["items"].forEach(item => {
                rowHtml += getJobRow(item, filter.queue === 'failed')
                modalList += getJobModal(item, filter.queue === 'failed');
            });

            document.getElementById("loading-spinner").classList.add("d-none");
            document.getElementById("modal-list").innerHTML = modalList;
            document.getElementById("job-header").innerHTML = getJobsHeader(filter.queue === 'failed');
            document.getElementById("job-list").innerHTML = rowHtml;
            document.getElementById("total-count").innerHTML = json["total"];
            document.getElementById("loaded-count").innerHTML = offset < json["total"] ? String(offset + json["items"].length) : json["total"];
        }).catch(function (reason) {
            console.error(reason)
        });
    }

    function loadQueues() {
        document.getElementById("loading-spinner").classList.remove("d-none");
        getApi("queues", {}).then(function (json) {
            if (json === null) {
                console.error("No Queue data!")
                return
            }
            let html = "";
            json["items"].forEach(item => {
                html += getQueueRow(item)
            });
            document.getElementById("loading-spinner").classList.add("d-none");
            document.getElementById("queue-list").innerHTML = html;
        }).catch(function (reason) {
            console.error(reason)
        });
    }

    function loadWorkers() {
        document.getElementById("loading-spinner").classList.remove("d-none");
        getApi("workers", {}).then(function (json) {
            if (json === null) {
                console.error("No worker data!")
                return
            }
            let html = "";
            for (const key in json["items"]) {
                const list = json["items"][key];
                list.forEach(item => {
                    html += getWorkerRow(key, item);
                });
            }
            document.getElementById("loading-spinner").classList.add("d-none");
            document.getElementById("worker-list").innerHTML = html;
        }).catch(function (reason) {
            console.error(reason)
        });
    }

    function throttle(func, timeFrame) {
        var lastTime = 0;
        return function (...args) {
            var now = new Date();
            if (now - lastTime >= timeFrame) {
                func(...args);
                lastTime = now;
            }
        };
    }

    const handleInfiniteScroll = () => {
        const endOfPage = window.innerHeight + window.pageYOffset >= document.body.offsetHeight;
        if (endOfPage) {
            let nextStart = Number(offset+pageSize());
            console.debug(`Loading ${nextStart} until ${nextStart + pageSize()}`)
            loadJobs(nextStart);
        }
    };
    window.addEventListener("scroll", throttle(handleInfiniteScroll, 100));
</script>
</body>
</html>
{{end}}