{{define "footer"}}
    <div id="loading-spinner">
        <span aria-busy="true">Loading...</span>
    </div>
    <span class="details">
        Connected to <code>{{ .dsn }}</code>
        {{ if eq .page "jobs" }}, loading <select id="pageSize" onchange="setPageSize(); loadJobs(0);"><option>25</option><option>50</option></select> items {{ end }}
    </span>
</main>
<section id="modal-list"></section>
<script src="/js/main.js"></script>
<script>window.addEventListener("load", () => {loadData('{{.page}}')});</script>
</body>
</html>
{{ end }}