{{ define "header" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Resque Inspector</title>
        <link href="/css/pico.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
    <header class="container-fluid">
        <nav>
            <ul>
                <li><strong>Resque Inspector</strong></li>
            </ul>
            <ul>
                <li>
                    <a href="/jobs"
                       class="{{ if eq .page "jobs" }}active{{ end }}"
                       {{ if eq .page "jobs" }}aria-current="page"{{ end }}>Jobs</a>
                </li>
                <li>
                    <a href="/queues"
                       class="{{ if eq .page "queues" }}active{{ end }}"
                       {{ if eq .page "queues" }}aria-current="page"{{ end }}>Queues</a>
                </li>
                <li>
                    <a href="/workers"
                       class="{{ if eq .page "workers" }}active{{ end }}"
                       {{ if eq .page "workers" }}aria-current="page"{{ end }}>Workers</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container-fluid">
        <div id="stats"
             style="position: absolute; right: 0; top: 0; padding: 10px"
             class="d-none">
            Showing <em id="loaded-count">0</em>/<em id="total-count">0</em> jobs
        </div>
{{ end }}