{{template "header" $}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Queue</th>
        <th scope="col">Items</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="queue-list">
    {{range .queues}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.JobCount}}</td>
            <td>
                <a href="/?queue={{.Id}}" role="button">Jobs</a>
                <button onclick="clearQueue('{{.Id}}')" class="danger">Clear</button>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
{{template "footer" $}}