name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.25'

    - run: go install github.com/goreleaser/goreleaser/v2@latest

    - name: Build
      run: make build

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: dist
        path: dist


  test:
    runs-on: ubuntu-latest
    needs: build
    services:
      valkey:
        image: valkey/valkey:latest
        ports:
          # Opens tcp port 6379 on the host and service container
          - 6379
        options: >-
          --health-cmd "valkey-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - run: |
          echo "REDIS_HOST=127.0.0.1" >> "$GITHUB_ENV"
          echo "REDIS_PORT=${{ job.services.valkey.ports['6379'] }}" >> "$GITHUB_ENV"

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist

      - name: Display structure of downloaded files
        run: ls -R

      - name: Setup test
        working-directory: tests/php
        run: |
          composer install
          php ./index.php

      - name: Make binary executable
        run: chmod +x ./dist/resque-inspector_linux_amd64_v1/resque-inspector

      - name: check queues
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector queues

      - name: check workers
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector workers

      - name: check failed jobs
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector jobs failed

      - name: check queued jobs in default
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector jobs default

      - name: check clear queued jobs in default
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector clear default

      - name: check queues after clear
        run: ./dist/resque-inspector_linux_amd64_v1/resque-inspector queues
